**/*.o
**/*.hi
**/*.*#
/src/Latro/alpha.rkt*
/src/Latro/lex
/src/Latro/parse
/src/Latro/src/Latro
/src/Latro/latro
/src/Latro/main
/src/Latro/Scratch.l
/src/Latro/test.spar
/src/last-test.l
/src/Latro/tests/compiled/
/src/Latro/tests/scratch.rkt
/src/Latro/tests/*.rkt~
