**/*.o
**/*.hi
**/*.*#
/interp/alpha.rkt*
/interp/lex
/interp/parse
/interp/interp
/interp/latro
/interp/main
/interp/Scratch.l
/interp/test.spar
/interp/tests/compiled/
/interp/tests/scratch.rkt
/interp/tests/*.rkt~
