**/*.o
**/*.hi
**/*.*#
.stack-work/
**/.DS_Store
last-test.l
/dist
/src/Latro/alpha.rkt*
/src/Latro/lex
/src/Latro/parse
/src/Latro/src/Latro
/src/Latro/latro
/src/Latro/main
/src/Latro/Scratch.l
/src/Latro/test.spar
/src/last-test.l
/tests/compiled/
/tests/last-test.l
/tests/scratch.rkt
//tests/*.rkt~
